!*.yaml
!.gitignore
!*.md

*.html
*.pickle
*.pid
*.xml
*.csr
*.crt
*.key
*.conf
www
custom_components
.uuid
core.*
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
zigbee.db
.storage
.cloud
.google.token
.vscode
*.db-journal
*.db-shm
*.db-wal
*.sqlite
deps
hacs
__pycache__
tts
secrets
known_devices.yaml
.homekit.state
phue.conf
ios.conf
pyozw.sqlite
nest.conf
ipchange.yaml
production_auth.json
node-red
glances

ip_bans.yaml
secrets.yaml
known_devices.yaml
